*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #334f9c;
  font-family: 'Saira Semi Condensed', sans-serif;
}
nav{
  margin: auto;
  width: 70%;
  height: 80px;
}
header{
  background-image: url(vecchi.jpg);
  background-size:cover;
}
header:after{
  content:"";
  display: table;
  clear: both;
}
.navig{
  display: inline-block;
  font-size: 20px;
  padding: 18px;
}
.inizio{
  width: 50%;
  height:400px;
  float: left;
}
.sec{
  background-color: white;
  width: 100%;
  height: 650px;
}
.sec:after{
  content: "";
  display: table;
  clear: both;
}
article{
  height: 400px;
  width: 70%;
  margin: auto;
}
.immagine{
  float: right;
  width: 50%;
  height: 400px;
}
.prefot{
  width: 100%;
  height: 150px;
  background-color: #002d70;
}
footer{
  width: 100%;
  background-color: purple;
  height: 400px;
}
.fin{
  float: left;
  height: 400px;
  width: 50%;
  background-color: yellow;
}
.uno{
  float: left;
  margin-right: 25px;
}
.due{
  float: left;
}
.tre{
  float: right;

}
#logo{
  padding-top: 8px;
}
.acca1{
  font-size: 48px;
  padding-top: 65px;
}
.navig a{
  text-decoration: none;
  color: white;
}
h1{
  color: white;
}
.login{
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  background-color: rgba(255, 0, 0, 0.0);
}
.bottoni{
  padding: 8px;
  border-radius: 8px;
  background-color: green;
  border: none;
  color: white;
  cursor: pointer;
}
.subt{
  text-align: center;
  padding-top: 30px;
}
.min{
  width: 30%;
  padding-top: 45px;
  padding-bottom: 15px;
}
.sez{
  margin: auto;
  width: 70%;
}
.sez2{
  width: 33%;
  float: left;
  text-align: center;
  padding: 40px;
}
.subtitle{
  font-size: 30px;
  color: green;
  padding-bottom: 10px;
}
.min{
  height: 200px;
  width: auto;
}
.imgleft{
  width: 50%;
  float: left;
  padding-top: 100px;
  padding-left: 400px;
}
.sez2 > hr{
  margin: auto;
  width: 10%;
  margin-bottom: 10px;
}
.textright{
  width: 25%;
  float: left;
  padding-left: 80px;
  padding-top: 180px;
}
.testo{
  font-size: 34px;
}
.testo2{
  font-size: 19px;
  color: grey;
}
.textright > a{
  color: #458cf7;
}
.dubbi{
  padding-left: 190px;
  padding-top: 40px;
}
.dubbi > h2{
  color: white;
  font-size: 33px;
}
.dubbi > p{
  color: grey;
}
.faq{
  text-decoration: none;
  color: yellow;
}
